.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.container {
    width: calc(100% - 6rem);
}

.titleContainer {
    width: 100%;
    padding-top: 80vh;
    position: relative;
}

.title {
    color: white;
    font-size: 2rem;
    font-size: clamp(2rem, -0.16082802547770703rem + 6.012738853503185vw, 4.95rem);
    font-family: sans-serif;
    font-weight: 300;
    line-height: clamp(2rem, -0.16082802547770703rem + 6.012738853503185vw, 4.95rem);
    overflow: hidden;
    position: absolute;
    bottom: 2.8rem;
}

@media (max-width: 900px) {
    .container {
        width: calc(100vw - 3rem);
    }
}

@media (max-width: 575px) {
    .container {
        width: calc(100vw - 2.4rem);
    }
    .titleContainer {
        width: 100%;
        padding-top: 100vh;
        position: relative;
        bottom: 0;
    }
    .title {
        font-size: 2rem;
        font-size: clamp(2rem, -0.18181818181818166rem + 11.636363636363637vw, 4rem);
        line-height: clamp(2rem, -0.18181818181818166rem + 11.636363636363637vw, 4rem);
    }
}