.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.header {
    width: calc(100vw - 5.6rem);
    height: auto;
    display: flex;
    margin-top: 48vh;
    padding-bottom: 3.2rem;
}

.infoContainer {
    width: 42.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.label {
    font-family: sans-serif;
    color: lightgray;
    font-size: 14px;
    padding-bottom: 0.65rem;
}
.label:nth-child(1) {
    padding-top: 0.6rem;
}

.email, .address {
    color: lightgray;
    font-family: sans-serif;
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.6369426751592357rem + 0.662420382165605vw, 1.2rem);
    font-weight: 300;
    line-height: clamp(1rem, 0.6337579617834395rem + 1.019108280254777vw, 1.5rem);
}
 
.email {
    padding-bottom: 4.8rem;
}

.textContainer {
    width: 57.5%;
    height: 100%;
}

.title {
    font-size: 2rem;
    font-size: clamp(2rem, -0.12420382165605126rem + 5.9108280254777075vw, 4.9rem);
    font-family: sans-serif;
    font-weight: 300;
    line-height: clamp(2.4rem, 0.4222929936305735rem + 5.503184713375795vw, 5.1rem);
    overflow: hidden;
    color: white;
    letter-spacing: -2px;
    padding-top: 0.4rem;
}

.desc {
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    font-size: clamp(1rem, 0.6337579617834395rem + 1.019108280254777vw, 1.5rem);
    width: 85%;
    padding-top: 3.6rem;
    line-height: clamp(1.4rem, 0.8872611464968151rem + 1.4267515923566882vw, 2.1rem);
}

.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.form {
    width: 45.5vw;
    margin-left: 43.5vw;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 4rem;
}

.input {
    width: 100%;
    padding: 1.4rem 0;
    border-top: 1px solid rgb(196, 196, 196);
    color: white;
    font-family: sans-serif;
}
.input:nth-child(4) {
    border-bottom: 1px solid white;
}

.termsContainer {
    width: 100%;
}

.termsText {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: -0.5px;
}

.btnContainer {
    width: 5.5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.noBtn , .yesBtn {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 0.2rem 0.4rem;
}

.noBtn {
    border: 1px solid white;
    border-radius: 1rem;
}

.submitContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.submitText {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    width: 50%;
    line-height: 1.2rem;
}

.submitBtn {
    padding: 1.3rem clamp(3rem, 0.9490445859872616rem + 5.707006369426751vw, 5.8rem);
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.6369426751592357rem + 0.662420382165605vw, 1.2rem);
    font-family: sans-serif;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 0px white;
    transition: all 0.4s ease;
}
.submitBtn:hover {
    box-shadow: inset 0px -4rem 0px 0px white;
    color: black;
}


.aside {
    width: 100vw;
    height: 90vh;
}

.asideTitle {
    color: lightgray;
    padding-inline: 3rem;
    font-family: sans-serif;
    font-size: 13.5px;
    display: block;
}

.socialsContainer {
    padding-left: 3rem;
    padding-top: 2.5rem;
    width: 60%;
}
.socialsContainer:hover > .socialLink {
    color: #212529;
    transition: all 0.5s ease;
}

.socialsContainer > .socialLink:hover {
    color: white;
    transition: all 0.5s ease;
}

.socialLink {
    color: white;
    font-size: 2.8rem;
    font-size: clamp(2.8rem, 1.554777070063694rem + 3.464968152866242vw, 4.5rem);
    line-height: clamp(2.6rem, 1.3547770700636945rem + 3.4649681528662413vw, 4.3rem);
    font-family: sans-serif;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.policyContainer {
    width: 100%;
    padding-inline: 3rem; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;   
}

.policyLink {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 1s ease;
}
.policyLink:hover {
    color: #212529;
}

.copyright {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 3rem;
}


@media (max-width: 900px) {
    .header {
        width: calc(100vw - 3rem);
    }
}

@media (max-width: 700px) {
    .infoContainer {
        width: 35%;
    }
    .form {
        width: 55vw;
        margin-left: 36.5vw;
    }
}

@media (max-width: 575px) {
    .header {
        width: calc(100vw - 2.4rem);
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 48vh;
        padding-bottom: 3.2rem;
    }
    .infoContainer {
        width: 100%;
        height: 100%;
    }
    .label {
        font-size: 1rem;
        padding-bottom: 0.65rem;
        padding-top: 2rem
    }
    .label:nth-child(1) {
        padding-top: 4rem;
    }
    .email, .address {
        font-size: 0.875rem;
        font-size: clamp(0.875rem, 0.6369426751592357rem + 0.662420382165605vw, 1.2rem);
        line-height: clamp(1rem, 0.6337579617834395rem + 1.019108280254777vw, 1.5rem);
    }
    .email {
        padding-bottom: 0rem;
    }
    .textContainer {
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 2.3rem;
        font-size: clamp(2.3rem, -0.7272727272727271rem + 14.545454545454545vw, 4.5rem);
        line-height: clamp(2.3rem, -0.7272727272727271rem + 14.545454545454545vw, 4.5rem);
        letter-spacing: -2px;
        padding-top: 0.4rem;
    }
    .desc {
        font-size: 1rem;
        font-size: clamp(1rem, -0.3090909090909093rem + 6.981818181818183vw, 2.2rem);
        width: 90%;
        overflow: hidden;
        padding-top: 2.5rem;
        line-height: clamp(1rem, -0.3090909090909093rem + 6.981818181818183vw, 2.2rem);
    }

    .section {
        width: calc(100vw - 2.4rem);
        height: auto;
    }
    .form {
        width: 100%;
        margin-left: 0;
    }
    .input {
        width: 100%;
        padding: 1.6rem 0;
    }
    .termsContainer {
        width: 100%;
    }
    .noBtn , .yesBtn {
        font-size: 15px;
    }
    .submitContainer {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-top: 4rem;
    }
    .submitText {
        font-size: 14px;
        width: 60%;
        text-align: left;
        padding-bottom: 1.5rem;
    }
    .submitBtn {
        padding: 1.3rem 2rem;
        font-size: 1rem;
    }

    .aside {
        height: auto;
        padding-bottom: 15rem;
        padding-top: 8rem;
    }
    .asideTitle {
        padding-inline: 1.2rem;
        font-size: 1rem;
    }
    .socialsContainer {
        padding-inline: 1.2rem;
        padding-top: 2.5rem;
        width: 100%;
        text-align: right;
    }
    .socialLink {
        font-size: 2.8rem;
    }
    .policyContainer {
        width: 100%;
        padding-inline: 1.2rem; 
    }
}