.main {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.dummy1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    mix-blend-mode: difference;
}

.dummy2 {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    mix-blend-mode: difference;
}

.dummy3 {
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
    mix-blend-mode: difference;
}

.dummy4 {
    width: 100vw;
    height: 100vh;
    background-color: white;
    mix-blend-mode: difference;
}