.mainContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
}

.title {
    display: inline-block;
    width: 100%;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    padding-inline: 3rem;
}

.contentContainer {
    width: calc(100vw - 4rem);
}

.textContainer {
    width: 100%;
    height: auto;
    position: relative;
}
.textContainer2 {
    width: 70%;
    height: auto;
    position: relative;
}

.clientL {
    color: white;
    font-size: 4.5rem;
    font-family: sans-serif;
    padding-inline: 0.8rem;
}


