.footer {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    mix-blend-mode: difference;
}

.ctaContainer {
    width: 100vw;
    height: 72vh;
    display: flex;
    align-items: center;
}

.cta {
    font-size: 7.8rem;
    font-family: sans-serif;
    font-weight: 300;
    padding-inline: 2.8rem;
    padding-top: 2rem;
    color: white;
}

.linkContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socialContainer {
    padding-left: 2.8rem;
    padding-right: 2.3rem; 
}

.socialLink, .policyLink {
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    cursor: pointer;
}

.socialLink:hover, .policyLink:hover {
    color: gray;
    transition: color 0.8s;
}

.policyContainer {
    padding-top: 2.1rem;
}

.copyright {
    padding-inline: 2.8rem;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    position: absolute;
    bottom: 3rem;
}

@media (max-width: 650px) {

    .cta {
        padding-inline: 1.5rem;
        font-size: 6rem;
    }
    .socialContainer {
        padding-left: 1.5rem;
    }
    .copyright {
        padding-inline: 1.5rem;
    }
}

@media (max-width: 575px) {
    .ctaContainer {
        justify-content: center;
    }
    .cta {
        font-size: 5rem;
    }
    .socialContainer {
        display: none;
    }
    .policyContainer {
        display: none;
    }
    .copyright {
        text-align: center;
        padding-inline: 0;
        width: 100%;
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .footer {
        height: 60vh;
    }
    .ctaContainer {
        height: 40vh;
    }
    .cta {
        font-size: 3.5rem;
    }
    .copyright {
        font-size: 1rem;
    }
}