.nav {
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

.contentContainer {
    width: 92vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 11rem;
    font-size: 1.45rem;
    font-family: sans-serif;
    font-weight: 600;
}

.reg {
    font-size: 0.65rem;
    position: absolute;
}

.centerText {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.rightContainer {
    width: 11rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.ctaButton {
    width: 5.49rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid black; 
    margin-right: 2rem;
}

.ctaButton > span {
    padding: 0.45rem 0.8rem;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 0px 0px black;
}

.ctaButton > span:hover {
    box-shadow: inset 0px -2rem 0px 0px black;
    color: white;
}

/*/ Hamburger Icon /*/

.menu {
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    z-index: 50;
}

.bar1, .bar2 {
    display: block;
    width: 36px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.bar1 {
    top: 17px;
    animation: bar1Slide 0.5s ease forwards;
    animation-delay: 1s;
}

.bar2 {
    bottom: 17px;
    animation: bar2Slide 0.5s ease forwards;
    animation-delay: 1s;
}

.activeMenu {
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 50;
}

.activeBar1, .activeBar2 {
    display: block;
    width: 36px;
    height: 1px;
    background-color: white;
    position: absolute;
}

.activeBar1 , .activeBar2 {
    top: 17px;
    transition: all 0.5s ease;
    transform: rotate(0) translateX(0);
}

.activeMenu:hover > .activeBar1 {
    transform: rotate(45deg) translateX(1px);
}

.activeMenu:hover > .activeBar2 {
    transform: rotate(-45deg) translateX(1px);  
}

@keyframes bar1Slide {
    0% {
        top: 17px;
    }
    100% {
        top: 13px;
    }
}
@keyframes bar2Slide {
    0% {
        bottom: 17px;
    }
    100% {
        bottom: 13px;
    }
}

/*/ Open Menu /*/

.openMenu {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 40;
    position: fixed; 
    top: 0;
    left: 0;
    animation: menuClick 0.8s ease-out forwards;
}

.closedMenu {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: fixed; 
    top: 0;
    left: 0;
    animation: menuClickClosed 1.2s ease forwards;
    overflow: hidden;
    visibility: hidden;
    transition: visibility 1.5s;
}

@keyframes menuClick {
    0% {
        opacity: 0;
        display: none;
    }
    5% {
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes menuClickClosed {
    0% {
        opacity: 1;
        display: block;
    }
    75% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/*/ Menu Content /*/

.mainMenuContainer {
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.leftMenuContainer {
    width: 410px;
    animation: slideReverse 1s ease forwards;
}

.animatedLeftContainer {
    width: 410px;
    animation: leftMenuSlide 1s ease forwards;
}

@keyframes leftMenuSlide {
    from {
        opacity: 0;
        margin-bottom: 2rem;
    }
    to {
        opacity: 1;
        margin-bottom: 0;
    }
}
@keyframes slideReverse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.bigLogoContainer {
    padding-bottom: 6rem;
}

.bigLogo {
    font-size: 10rem;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
    position: relative;
    bottom: 1rem;
    cursor: pointer;
}

.socialsContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 1rem;
}

.socialLink {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.socialLink:hover, .footerLink:hover {
    color: gray;
    transition: all 0.5s ease;
}

.rightMenuContainer {
    width: 350px;
    padding: 0.5rem 0;
}

.linkContainer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.linkContainer:hover > .linkSpan > .animatedNavLink {
    color: #212529;
}

.linkSpan {
    margin: 0;
    overflow: hidden;
    display: block;
}

.navLink {
    display: block;
    font-size: 4.2rem;
    font-family: sans-serif;
    padding-left: 0.5rem;
    transform: translate(0,0);
    color: white;
    transition: all 0.5s ease;
    animation: revealRev 0.6s cubic-bezier(0.77,0,0.175,1) 0.5s forwards;
}

.animatedNavLink {
    display: block;
    color: white;
    font-size: 4.2rem;
    font-family: sans-serif;
    padding-left: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: translate(0,100%);
    animation: reveal 0.6s cubic-bezier(0.77,0,0.175,1) 0.5s forwards;
}

.linkSpan > .animatedNavLink:nth-child(1):hover {
    color: white;
}

.footerMenuContainer {
    width: 100%;
    height: 5.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 60;
}


.footerLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5rem;
}

.footerLink {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding-inline: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.emailLink {
    color: white;
    padding-right: 3.5rem;
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
}

@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
}
@keyframes revealRev {
    0% {
      transform: translate(0,0);
      display: block;
      color: white;
    }
    100% {
      transform: translate(0,100%);
      display: none;
      color: black;
    }
}

@media (max-width: 850px) {

    .leftMenuContainer {
        padding-left: 2.5rem;
        width: 350px;
    }

    .animatedLeftContainer {
        padding-left: 2.5rem;
        width: 350px;
    }
    .bigLogoContainer {
        padding-bottom: 2rem;
    }

    .navLink {
        font-size: 3.5rem;
    }
    .animatedNavLink {
        font-size: 3.5rem;
    }
}

@media (max-width: 750px) {
    .centerText {
        display: none;
    }
    .ctaButton {
        margin-right: 1rem;
    }
}

@media (max-width: 650px) {
    .bigLogo {
        font-size: 8rem;
    }

    .navLink {
        font-size: 3rem;
    }
    .animatedNavLink {
        font-size: 3rem;
    }
}

@media (max-width: 575px) {

    .mobileLogo {
        font-size: 4rem;
        font-family: sans-serif;
    }

    .menu, .activeMenu {
        width: 55px;
        height: 55px;
    }

    .rightContainer {
        width: auto;
        margin-right: 1.7rem;
    }

    .ctaButton {
        width: 147px;
        height: 61px;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctaButton > span {
        padding: 2rem 1.84rem;
        font-family: sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        position: absolute;
        transition: all 1s ease;
        box-shadow: inset 0px 0px 0px 0px black;
    }

    .ctaButton > span:hover {
        box-shadow: inset 0px -300px 0px 0px black;
        color: white;
        transition: all 1s ease;
    }

    .bar1, .bar2, .activeBar1, .activeBar2 {
        width: 55px;
    }

    .bar1 {
        top: 27px;
        animation: mobileBar1Slide 1s ease forwards;
        animation-delay: 1s;
    }
    .bar2 {
        bottom: 27px;
        animation: mobileBar2Slide 1s ease forwards;
        animation-delay: 1s;
    }

    .activeBar1 {
        top: 27px;
    }
    .activeBar2 {
        top: 27px;
    }

    .centerText {
        display: none;
    }

    /*/ Menu query /*/

    .openMenu {
        height: 100vh;
        overflow-y: scroll;
    }

    .mainMenuContainer {
        flex-direction: column-reverse;
        height: 130vh;
        justify-content: flex-end;
    }

    .bigLogoContainer {
        display: none;
    }

    .rightMenuContainer {
        width: 100vw;
        padding-inline: 3rem;
        padding-top: 8rem;
        padding-bottom: 3rem;
    }

    .socialsContainer {
        padding-bottom: 5rem;
    }

    .linkSpan {
        padding: 0.4rem 0;
    }

    .socialLink {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-left: 0;
    }

    .navLink {
        font-size: 3.5rem;
        padding-left: 0;
    }

    .animatedNavLink {
        font-size: 3.5rem;
        padding-left: 0;
    }

    .leftMenuContainer {
        width: 100vw;
        padding-left: 3rem;
    }

    .animatedLeftContainer {
        width: 100vw;
        padding-left: 3rem;
    }

    .footerLinkContainer {
        display: none;
    }

    .footerMenuContainer {
        bottom: -180px;
        left: 3rem;
    }
}

@media (max-width: 380px) {

    .rightMenuContainer {
        padding-inline: 2rem;
    }

    .navLink {
        font-size: 2.8rem;
    }

    .animatedNavLink {
        font-size: 2.8rem;
    }

    .leftMenuContainer {
        padding-left: 2rem;
    }

    .animatedLeftContainer {
        padding-left: 2rem;
    }
    .footerMenuContainer {
        left: 2rem;
    }
}

@keyframes mobileBar1Slide {
    0% {
        top: 27px;
    }
    100% {
        top: 21px;
    }
}
@keyframes mobileBar2Slide {
    0% {
        bottom: 27px;
    }
    100% {
        bottom: 21px;
    }
}

@media (max-width: 450px) {

    .nav {
        height: 4.5rem;
    }

    .mobileLogo {
        font-size: 3.5rem;
        font-family: sans-serif;
    }

    .ctaButton {
        width: 100px;
        height: 40px;
        margin-right: 1rem;
    }

    .ctaButton > span {
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctaButton > span:hover {
        box-shadow: inset 0px -200px 0px 0px black;
    }


    .menu, .activeMenu {
        width: 40px;
        height: 40px;
    }

    .bar1, .bar2, .activeBar1, .activeBar2 {
        width: 40px;
    }

    .bar1 {
        top: 20px;
        animation: smallBar1Slide 1s ease forwards;
        animation-delay: 1s;
    }
    .bar2 {
        bottom: 20px;
        animation: smallBar2Slide 1s ease forwards;
        animation-delay: 1s;
    }

    .activeBar1 {
        top: 15px;
    }
    .activeBar2 {
        top: 15px;
    }
}

@keyframes smallBar1Slide {
    0% {
        top: 20px;
    }
    100% {
        top: 15px;
    }
}
@keyframes smallBar2Slide {
    0% {
        bottom: 20px;
    }
    100% {
        bottom: 15px;
    }
}

@media (max-width: 345px) {

    .nav {
        height: 4rem;
    }

    .mobileLogo {
        font-size: 3rem;
        font-family: sans-serif;
    }

    .rightContainer {
        margin-right: 1rem;
    }

    .ctaButton {
        width: 85px;
        height: 40px;
        margin-right: 1rem;
    }

    .ctaButton > span {
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctaButton > span:hover {
        box-shadow: inset 0px -200px 0px 0px black;
    }


    .menu, .activeMenu {
        width: 40px;
        height: 40px;
    }

    .bar1, .bar2, .activeBar1, .activeBar2 {
        width: 40px;
    }

    .bar1 {
        top: 20px;
        animation: smallBar1Slide 1s ease forwards;
        animation-delay: 1s;
    }
    .bar2 {
        bottom: 20px;
        animation: smallBar2Slide 1s ease forwards;
        animation-delay: 1s;
    }

    .activeBar1 {
        top: 15px;
    }
    .activeBar2 {
        top: 15px;
    }
}